/* IMPORT FONT */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* RESET */
* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

/* MAIN */
html {
    font-family: "Playfair Display", serif;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* HEADER */
header {
    width: 100%;
    background-color: #fffbfb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    height: 10vh;
    z-index: 1;

    display: grid;
    place-content: center;
}

header h1 {
    letter-spacing: 1.8px;
}

/* MAIN */
main {
    background-color: #f0eef1;
    flex: 1;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    padding: 2rem;
}

button {
    position: relative;
    font-weight: bolder;
    font-family: inherit;
    font-size: 1.2rem;
    width: 10rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #fffbfb;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    overflow: hidden;
}

button::before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fffbfb;
    transition: all 0.2s ease-in-out;
    z-index: -1;
}

button:hover {
    cursor: pointer;
}

button:hover::before {
    background-color: rgba(0, 0, 0, 0.2);
}

/* .add-btn:hover {
    background-color: #f0eef1;
} */

/* BOOKS CONTAINER */
#books-container {
    margin-top: 3rem;
    width: min(90vw, 1200px);

    display: grid;
    align-items: center;
    justify-items: center;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-flow: row;
}

.book-card {
    width: 100%;
    background-color: #fffbfb;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    z-index: 1;
}

.button-group {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.5rem;
}

.book-btn {
    width: 100%;
}